@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

/* shared styles */
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;

}

.header-primary {
    color: rgb(19, 19, 19);
    font-size: 2.81rem;
    font-weight: 700;
}

.text-primary {
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
    ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 50px 50px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.link-container li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
}

.header-description {
    text-align: center;
    width: 78%;
    margin: 0 auto;
}

.header-description-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

.header-description-title,
.header-description-text,
.header-description-btn,
.header-description-banner {
    margin-bottom: 25px;
}

.header-description-banner {
    width: 100%;
    border: 1px dashed rgb(19, 19, 19);
    border-radius: 8px;
}

/* feature section styles */
.feature-section {
    width: 78%;
    margin: 100px auto;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.feature-grid {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature-description {
    width: 30%;
}

.feature-title,
.feature-text {
    padding-bottom: 25px;
}

.feature-list-image {
    width: 100%;
}

.quick-list {
    color: grey;
}

.features {
    color: rgb(255, 144, 14);
    ;
}

.feature-love {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.feature-love-description {
    width: 30%;
}

.feature-card {
    padding: 25px;
    border: 5px solid beige;
    margin-bottom: 10px;
}

.feature-title2 {
    margin-bottom: 10px;
}

.feature-love-visual {
    width: 45%;
}

.feature-image{
    width: 100%;
}

.feature-love-btn {
    padding: 20px 40px;
    border-radius: 5px;
    margin-left: -80px;
    margin-top: -100px;
}

/* facts section styles */
.fact-section {
    width: 78%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.fact-card{
    width: 20%;
    padding: 50px 0;
    border: 2px solid bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* sponsor section styles */
.sponsor-section {
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sponsor-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sponsor-section img{
    width: 15%;
    filter: grayscale(100);
}


/* footer styles */
.footer {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
}

.footer p {
    padding: 39px 0;
}

/* media queries */

/* small devices */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        padding: 25px 0;
    }

    .link-container {
        padding: 0;
    }

    .link-container li a {
        padding: 10px;
    }

    .feature-list {
        flex-direction: column;
        gap: 25px;
    }

    .feature-grid {
        width: auto;
        grid-template-columns: 1fr;
    }

    .feature-description {
        width: 80%;
        text-align: center;
    }

    .feature-love {
        flex-direction: column-reverse;
    }

    .feature-love-description, .feature-love-visual {
        width: 80%;
        margin: auto;
    }

    .feature-love-btn {
        display: none;
    }

    .fact-section {
        width: 70%;
    }

    .fact-card-container {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .fact-card {
        width: 65%;
        margin: 0 auto;
    }

}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        padding: 25px 0;
    }

    .link-container {
        padding: 0;
    }

    .link-container li a {
        padding: 10px;
    }

    .feature-list {
        flex-direction: column;
        gap: 20px;
    }

    .feature-grid {
        width: auto;
    }

    .feature-description {
        width: auto;
        text-align: center;
    }

    .feature-title, .feature-text {
        padding-bottom: 10px;
    }

    .feature-list-image {
        width: 100%;
    }

    .feature-description {
        width: 80%;
        text-align: center;
    }

    .feature-love {
        flex-direction: column-reverse;
    }

    .feature-love-description, .feature-love-visual {
        width: 80%;
        margin: auto;
    }

    .feature-love-btn {
        display: none;
    }

    .fact-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        padding: 20px;
        gap: 20px;
    }

    .fact-card {
        width: 80%;
        margin: auto;
    }

}