@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

/* shared styles */
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;

}

.header-primary {
    color: rgb(19, 19, 19);
    font-size: 2.81rem;
    font-weight: 700;
}

.text-primary {
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
    ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 50px 50px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.link-container li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
}

.header-description {
    text-align: center;
    width: 78%;
    margin: 0 auto;
}

.header-description-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

.header-description-title,
.header-description-text,
.header-description-btn,
.header-description-banner {
    margin-bottom: 25px;
}

.header-description-banner {
    width: 100%;
    border: 1px dashed rgb(19, 19, 19);
    border-radius: 8px;
}

/* feature section styles */
.feature-section {
    width: 78%;
    margin: 50px auto;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-grid {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature-description {
    width: 30%;
}

.feature-title,
.feature-text {
    padding-bottom: 25px;
}

.quick-list {
    color: grey;
}

.features {
    color: rgb(255, 144, 14);
    ;
}

/* footer styles */
.footer {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
}

.footer p {
    padding: 39px 0;
}

/* media queries */

/* small devices */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        padding: 25px 0;
    }

    .link-container {
        padding: 0;
    }

    .link-container li a {
        padding: 10px;
    }

    .feature-list {
        flex-direction: column;
        gap: 25px;
    }

    .feature-grid {
        width: auto;
        grid-template-columns: 1fr;
    }

    .feature-description {
        width: 80%;
        text-align: center;
    }

}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        padding: 25px 0;
    }

    .link-container {
        padding: 0;
    }

    .link-container li a {
        padding: 10px;
    }

    .feature-list {
        flex-direction: column;
        gap: 50px;
    }

    .feature-grid {
        width: auto;
    }

    .feature-description {
        width: auto;
        text-align: center;
    }

    .feature-title, .feature-text {
        padding-bottom: 10px;
    }

    .feature-list-image {
        width: 100%;
    }

}